<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>瑞文推理测试</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="static/vendor/iCheck/skins/flat/red.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/info.css" rel="stylesheet">
    <style>
        table {
            border-spacing: 10px;
            border-collapse: separate;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">TEST</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">联系我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover" style="padding-top: 0px;">
                <h4 align="center">请选择你认为正确的图片填在空缺处。</h4>

                <div align="center">
                    <img id="Q" src="" height="300">
                </div>
                <br>

                <form class="form-horizontal" id="information" method="post" action="/begin">
                    <div align="center">
                        <table cellpadding="10" cellspacing="10">
                            <tr>
                                <td>
                                    <a onclick="javascript:begin(1);">
                                        <img id="1" src="" width="150" style="cursor: pointer;"
                                             class="img-thumbnail">
                                    </a>
                                </td>
                                <td>
                                    <a onclick="javascript:begin(2);">
                                        <img id="2" src="" width="150" style="cursor: pointer"
                                             class="img-thumbnail">
                                    </a>
                                </td>
                                <td>
                                    <a onclick="javascript:begin(3);">
                                        <img id="3" src="" width="150" style="cursor:pointer;"
                                             class="img-thumbnail">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a onclick="javascript:begin(4);">
                                        <img id="4" src="" width="150" style="cursor: pointer;"
                                             class="img-thumbnail">
                                    </a>
                                </td>
                                <td>
                                    <a onclick="javascript:begin(5);">
                                        <img id="5" src="" width="150" style="cursor: pointer"
                                             class="img-thumbnail">
                                    </a>
                                </td>
                                <td>
                                    <a onclick="javascript:begin(6);">
                                        <img id="6" src="" width="150" style="cursor:pointer;"
                                             class="img-thumbnail">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br>
                </form>
            </div>
            <br>

            <div style="color: rgba(255, 255, 255, .5);">
                <div style="text-align: center;padding-bottom: 5px;">
                    <p>Powered by <a href="http://cs.tsinghua.edu.cn">清华大学计算机系</a></p>
                </div>
            </div>

        </div>

    </div>
</div>
<child_id hidden>{{childID}}</child_id>
<ques hidden>{{questionID}}</ques>
<is_last hidden>{{isLastQuestion}}</is_last>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="static/vendor/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red',
            increaseArea: '20%' // optional
        });

        var ques_id = $('ques').html();
        var ques_letter = "";
        switch (ques_id) {
            case '1':
                ques_letter = 'A1';
                break;
            case '2':
                ques_letter = 'A5';
                break;
            case '3':
                ques_letter = 'A6';
                break;
            case '4':
                ques_letter = 'A7';
                break;
            case '5':
                ques_letter = 'A11';
                break;
            case '6':
                ques_letter = 'A12';
                break;
            case '7':
                ques_letter = 'B5';
                break;
            case '8':
                ques_letter = 'B12';
                break;
            default:
                break;
        }
        $('#Q').attr('src', 'static/resource/raven_img/' + ques_letter + '_Q.png');
        $('#1').attr('src', 'static/resource/raven_img/' + ques_letter + '_1.png');
        $('#2').attr('src', 'static/resource/raven_img/' + ques_letter + '_2.png');
        $('#3').attr('src', 'static/resource/raven_img/' + ques_letter + '_3.png');
        $('#4').attr('src', 'static/resource/raven_img/' + ques_letter + '_4.png');
        $('#5').attr('src', 'static/resource/raven_img/' + ques_letter + '_5.png');
        $('#6').attr('src', 'static/resource/raven_img/' + ques_letter + '_6.png');
    });

    begin = function (option) {
        var is_last = $('is_last').html();

        var form = document.createElement('form');
        form.action = '/raventest';
        if (is_last == '1') {
            form.action = '/raventestresult'
        }
        form.target = '_self';
        form.method = 'post';

        var opt = document.createElement('input');
        opt.name = 'childID';
        opt.value = $('child_id').html();
        form.appendChild(opt);

        opt = document.createElement('input');
        opt.name = 'questionID';
        opt.value = $('ques').html();
        form.appendChild(opt);

        opt = document.createElement('input');
        opt.name = 'answer';
        opt.value = option;
        form.appendChild(opt);

        document.body.appendChild(form);
        form.submit();

    }
</script>
</body>
</html>
